body{
	background-color: #ABC2C4;
}
#parent
{
	background-color: #77989C;
	margin: 20%;
	box-shadow: 5px 10px #888888;
	display: flex;
	justify-content: space-around;
	width: 70%;
	
}
.child{
	background-color: #40949C;
	margin:4%;
	border-style: solid;
	box-shadow: 5px 10px #888888;
	width: 50%;
	text-align: center;
}